{{>head}}
{{>nav}}



    <div class="container">
        <div class="row">
                <div class="col-6 pt-5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/SARS-CoV-2_without_background.png/899px-SARS-CoV-2_without_background.png" width="50%" style="margin-left:60px" alt="">
                </div>
                <div class="col-6" style="padding-top:126px;">
                    <h2>Let's Stay Safe & Fight Together Against Corona Virus</h2>
                </div>
        </div>
    </div>





        <h2 style="text-align: center;color:#DF6589FF;margin-top: 40px;margin-bottom:40px">World's live covid update</h2>


        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h2 style="text-align: center;">{{confirmed}}</h2>
                    <p style="text-align: center;">TotalConfirmed</p>
                </div>
                <div class="col-3 pl-5">
                    <h2 style="text-align: center;">{{death}}</h2>
                    <p style="text-align: center;"> TotalDeaths </p>
                </div>
                <div class="col-3 pl-5">
                    <h2 style="text-align: center;">{{Recoveres}}</h2>
                    <p style="text-align: center;">TotalRecovered</p>
                </div>
                <div class="col-3 pl-5">
                    <h2 style="text-align: center;">135.26 crores</h2>
                    <p style="text-align: center;">Total population</p>
                </div>
            </div>
        </div>
        
        {{!-- about Covid-19 --}}

       
        <h2 style="text-align: center;color:#DF6589FF;margin-top: 60px;margin-bottom:40px">About COVID-19</h2>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="https://asm.org/ASM/media/Article-Images/2020/January/Coronavirus-structure1-1-21-20.png?ext=.pngs" width="100%" height="300px" alt="">
                </div>
                <div class="col-6 pt-2">
                    <h2>What is COVID-19 (CORONA-VIRUS)</h2>
                    <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
                       Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.</p>
                       <p>The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
                    You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19..</p>
                </div>
            </div>
        </div>

        <h2 style="text-align: center;color:#DF6589FF;margin-top: 80px;margin-bottom:50px">COVID-19 Symptoms</h2>


            <div class="container">
                <div class="row">
                    <div class="col-4">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2660/2660026.svg" width="80%" height="60%" alt="" style="margin-left: 46px;">
                    <h4 style="text-align: center;">runny nose</h4>
                    </div>
                    <div class="col-4">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/3782/3782002.svg" width="80%" height="60%" alt=""  style="margin-left: 46px;">
                    <h4 style="text-align: center;">difficult breathing</h4>
                    </div>
                    <div class="col-4">
                    <img src="https://www.flaticon.com/premium-icon/icons/svg/2895/2895400.svg" width="80%" height="60%" alt=""  style="margin-left: 46px;">
                    <h4 style="text-align: center;">tiredness</h4>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-4">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2615/2615180.svg" width="80%" height="60%" alt=""  style="margin-left: 46px;">
                    <h4 style="text-align: center;">Cough</h4>
                    </div>
                    <div class="col-4">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2927/2927562.svg" width="80%" height="60%" alt=""  style="margin-left: 46px;">
                    <h4 style="text-align: center;">fever</h4>
                    </div>
                    <div class="col-4">
                       <img src="https://www.flaticon.com/svg/static/icons/svg/619/619404.svg" width="80%" height="60%" alt=""  style="margin-left: 46px;">
                       <h4 style="text-align: center;">cold</h4>
                    </div>
                </div>
            </div>

    <h2 style="text-align: center;color:#DF6589FF;margin-top: 40px;margin-bottom:50px">6 Steps Prevention Against Coronavirus</h2>


          <div class="container">
                <div class="row">
                    <div class="col-4">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2966/2966204.svg" width="80px" height="80px" alt="" style="margin-left: 46px;margin-right:20px;float:left">
                   <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-left:30px">Wash your hands regularly for 20 seconds,with soap and water or alcohol-based hand rub</p>
                    </div>
                    <div class="col-4">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/3022/3022912.svg"  width="80px" height="80px" alt="" style="margin-left: 46px;float:left;margin-right:20px">
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Cover your nose and mouth with a disposable tissue or flexed elbow when you cough  or sneezes</p>
                    </div>
                    <div class="col-4">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2932/2932544.svg"  width="80px" height="80px" alt="" style="margin-left: 46px;float:left;margin-right:20px">
                 <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Avoid close contact (1 meters or 3 feet) with people who are unwell</p>
                    </div>
                </div>
                 <div class="row mt-4">
                    <div class="col-4">
                    <img src="https://www.flaticon.com/premium-icon/icons/svg/3286/3286639.svg"  width="80px" height="80px" alt="" style="margin-left: 46px;float:left;margin-right:20px">
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Stay home and self-isolate from others in the household if you feel unwell</p>
                    </div>
                    <div class="col-4">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/3544/3544191.svg"  width="80px" height="80px" alt="" style="margin-left: 46px;float:left;margin-right:20px">
                        <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Stay informed by watching the newa & follow the recommended practice</p>
                    </div>
                    <div class="col-4">
                       <img src="https://www.flaticon.com/svg/static/icons/svg/3781/3781981.svg"  width="80px" height="80px" alt="" style="margin-left: 46px;float:left;margin-right:20px">
                     <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">If you have fever,cough and difficult breathing,seek medical care early</p>
                    </div>
                </div>
            </div>

    <h2 style="text-align: center;color:#DF6589FF;margin-top: 40px;margin-bottom:50px">Contact Us ASAP</h2>

    <div class="container" style="display:flex;align-items:center;justify-content:center">
        <div style="width: 70%;height:100%;">
    <form class="formic" action="/about" method="POST">
        <p style="margin-bottom: 8px;font-family: 'Quicksand', sans-serif;">Username</p>
        <input type="text" name="nameone" placeholder="username" style="width: 100%;color:black;font-family: 'Quicksand', sans-serif;height:40px">
        <p style="margin-bottom: 8px;margin-top:20px;font-family: 'Quicksand', sans-serif;">Email address</p>
        <input type="email" name="emailone" placeholder="name@example.com" style="width: 100%;color:black;font-family: 'Quicksand', sans-serif;height:40px">
        <p style="margin-bottom: 8px;margin-top:20px;font-family: 'Quicksand', sans-serif;">Mobile</p>
        <input type="number" name="numberone" placeholder="mobile number" style="width: 100%;color:black;font-family: 'Quicksand', sans-serif;height:40px">

        <p style="margin-bottom: 8px;margin-top:20px;font-family: 'Quicksand', sans-serif;">Select Symptoms</p>
        <input type="radio" name="symptoms" value="cold" style="margin-right:10px"><span style="font-family: 'Quicksand', sans-serif;margin-right:10px">Cold</span>
        <input type="radio" name="symptoms" value="fever" style="margin-right:10px"><span style="font-family: 'Quicksand', sans-serif;margin-right:10px">Fever</span>
        <input type="radio" name="symptoms" value="difficulty in breath" style="margin-right:10px"><span style="font-family: 'Quicksand', sans-serif;margin-right:10px">difficulty in breath</span>
        <input type="radio" name="symptoms" value="Feeling Weak" style="margin-right:10px"><span style="font-family: 'Quicksand', sans-serif;margin-right:10px">Feeling Weak</span>
        <br>
        <input type="submit" style="background-color:blue;border:none;margin:30px 0 30px 0;color:white;height:34px;width:75px;border-radius:6%">

    </form>
    </div>
            </div>

      {{>top}}
    {{>chat}}

{{>footer}}

{{>jquery}}
{{>down}}