 <!-- topper navigaion var -->
    <nav class="navbar navbar-expand-sm " style="height:30px;background-color:rgb(75, 23, 103);">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"></button>
        <ul class="navbar-nav" style="width: 100%;">
          <li class="nav-item">
            <a class="nav-link link1 ml-4 maps" style="cursor: pointer;">Maps <i class="fa fa-caret-down down" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link link1 mr-3" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link1 mr-4" href="/register">register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link1 mr-4" href="/datas">Datas</a>
          </li>
        </ul>
      </nav>

        <!--graph-->
     
      <!-- logo -->
    <img src="https://4pyaatgwrhyn0z25etmidq-on.drv.tw/Untitled%20folder/ima/img/logo.png" height="100px" width="120px" alt="" style="margin-left: 20px;">

      <!-- neechay vala navbar -->

    <nav class="navbar navbar-expand-md navbar-dark sticky-top " style="height: 60px;background-color: #3C1053FF;z-index: 2;">
        <a class="navbar-brand ml-lg-4 ml-md-4 ml-sm-0" href="/">StopCovid19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link navi" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navi" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navi" href="/contact">Contact</a>
              </li>    
              <li class="nav-item">
                <a class="nav-link navi" href="details">Details</a>
              </li>    
          </ul>
        </div>  
      </nav>