<div style="width:40px;height:40px;background-color:#3C1053FF;position:fixed;top:520px;right:10px;border-radius:4px;display:none;box-shadow:4px 4px 4px 4px silver" class="top">
        <i style="font-size:24px;margin-left:9px;margin-top:6px;color:white" class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>